@import '~styles/colors.scss';

.effect__test--container{
	position: absolute;
	pointer-events:none;
	.relative{
		position: absolute;
		top:0;
		left:0;
	}
	.effect__test--inner{
		width:5px;
		height:5px;
		border-radius: 50%;
		background: red;
		animation: inner--animation 0.4s linear forwards;
		&.grey{background:$grey};
		&.cream{background:$cream};
		&.maroon{background:$maroon};
		&.orange{background:$orange};
		&.blue{background:$blue};
		&.brown{background:$brown};
		&.brown2{background:$brown2};
		&.rose{background:$rose};
		&.peach{background:$peach};

	}
}


@keyframes inner--animation {
    0%   {transform:translateX(0px); opacity:1}
    100% {transform:translateX(30px);opacity:0 }
}
