
@import 'styles/type.scss';
@import 'styles/global.scss';
@import 'styles/colors.scss';

*{
	margin:0;
	padding:0;
}

.app__container{
	min-height:100vh;
	background:$blue;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
