@import '~styles/colors.scss';
@import '~styles/global.scss';

.homeReveal{
	pointer-events:none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height:100%;
	width:100%;
	.homeReveal__title{
		margin:$v-spacing;
		transition: all $animation-timing ease ;
		h5{
			color:$grey;
			font-weight:900;	
		}
		&.hidden{
			height:0;
			overflow:hidden;
			margin:0;
		}
	}

	.homeReveal__scrubber{
		transition: height $animation-timing ease, width $animation-timing ease $animation-timing/2;
		position: relative;
		border-radius: 3px;
		height:30px;
		width: 60vw;
		max-width: 600px;
		background:$white;
		&.full{
			height:100vh;
			width: 100vw;
			max-width:100vw;
		}
		.homeReveal__scrubber--inner{
			transition: all 0.01s linear;
			background:$maroon;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
}
}